#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px
}

.container[data-v-02c1c3e2] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover
}

.sprite[data-v-02c1c3e2] {
    display: block;
    background: #f2f2f2;
    width: 100%;
    height: auto;
    border-radius: 10px
}

.id[data-v-02c1c3e2] {
    color: #919191;
    margin: 4px 0 0 0
}

.name[data-v-02c1c3e2] {
    color: #313131;
    font-size: 1.5em;
    margin: 10px 0 0 0;
    text-transform: capitalize
}

.types[data-v-02c1c3e2] {
    margin: 10px 0;
    display: flex
}

.type[data-v-02c1c3e2] {
    min-width: 110px;
    padding: 4px;
    margin: 0 8px 0 0;
    border-radius: 5px;
    text-transform: capitalize
}

.planta[data-v-02c1c3e2] {
    background: #9bcc55
}

.veneno[data-v-02c1c3e2] {
    background: #b97fc9
}

.fuego[data-v-02c1c3e2] {
    background: #fd7d24
}

.volador[data-v-02c1c3e2] {
    background: #3dc7ef
}

.agua[data-v-02c1c3e2] {
    background: #4592c4
}

.bicho[data-v-02c1c3e2] {
    background: #729f3f
}

.pokemons[data-v-41ed55c4], .pokemons[data-v-b8937dee] {
    list-style: none;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    padding: 1rem
}

.name[data-v-0147077d] {
    text-transform: capitalize;
    font-size: 3rem
}

.photo-and-details[data-v-0147077d] {
    display: flex;
    flex-direction: row;
    padding: 10px
}

.photo[data-v-0147077d] {
    width: 50%;
    margin-right: 10px;
    background: #f2f2f2
}

.details[data-v-0147077d] {
    width: 50%;
    font-size: 1.5rem
}

.features[data-v-0147077d] {
    font-size: 1.2rem;
    background: #2fa7d7;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 0;
    padding: 10px 40px
}

.feature[data-v-0147077d] {
    display: flex;
    flex-basis: 50%;
    align-items: flex-start;
    flex-direction: column
}

.title[data-v-0147077d] {
    color: #fff
}

.content[data-v-0147077d] {
    color: #000
}

.types[data-v-0147077d] {
    margin: 10px 0;
    display: flex;
    justify-content: center
}

.type[data-v-0147077d] {
    min-width: 110px;
    padding: 4px;
    margin: 0 8px 0 0;
    border-radius: 5px;
    text-transform: capitalize
}

.stats[data-v-0147077d] {
    background-color: #a4a4a4;
    border-radius: 25px
}

.grilla[data-v-0147077d] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 0;
    padding: 10px 40px
}

.stat[data-v-0147077d] {
    display: flex;
    flex-basis: 50%;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 10px
}

.planta[data-v-0147077d] {
    background: #9bcc55
}

.veneno[data-v-0147077d] {
    background: #b97fc9
}

.fuego[data-v-0147077d] {
    background: #fd7d24
}

.volador[data-v-0147077d] {
    background: #3dc7ef
}

.agua[data-v-0147077d] {
    background: #4592c4
}

.bicho[data-v-0147077d] {
    background: #729f3f
}

.caja {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #34495e
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center
}

.box h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type=password], .box input[type=text] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: .25s
}

.box input[type=password]:focus, .box input[type=text]:focus {
    width: 280px;
    border-color: #2ecc71
}

.submit {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: .25s;
    cursor: pointer
}

.submit:hover {
    background: #2ecc71
}

.caja-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #d8d8d8
}

.box-login {
    border-radius: 3px;
    background: #fff;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: calc(15px + 45 * (100vw - 320px) / 880)
}

.container-login {
    padding: 15px
}

.input {
    width: 100%;
    margin-top: 10px
}

.header {
    margin-top: 0;
    font-weight: 400;
    color: #4d4d4d;
    font-size: calc(20px + 20 * (100vw - 320px) / 880)
}

.header, .submit-login {
    text-align: center;
    font-family: Roboto
}

.submit-login {
    width: 100%;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 500;
    background: #1b78d0;
    color: #fff
}

.redirect {
    cursor: pointer;
    color: #1b78d0;
    text-decoration: none;
    margin: 36%
}